doctype
html(lang="en")
    head
        meta(charset="utf-8")
        title pushState and iFrames - App 2

    body
        h1 App #2
        button(disabled)#push Push Me!
        ol#console
            li Initial state

        script(src="#{base}app.js", onload="require('scripts/app')('app2', {pushState: true});")
